/* Fundo */
body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at top, #1b2735, #090a0f);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Camada das estrelas */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estrelas individuais */
.stars span {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

/* Conteúdo acima das estrelas */
.container {
    position: relative;
    z-index: 1;
    width: 500px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

input, textarea {
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    width: 120px;
    align-self: center;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #888;
    color: white;
    cursor: pointer;
}
