* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* CONTEÚDO */
.container {
  position: relative;
  z-index: 10; /* fica acima das estrelas */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 260px;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* espaço extra */
.espaco {
  height: 30px;
}
