* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  z-index: 2;
  position: relative;
}

input, textarea {
  width: 260px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 15px;
}

textarea {
  resize: none;
  height: 90px;
}

button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
