* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at top, #1b2735, #090a0f);
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Estrelas */
.stars span {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    opacity: 0.8;
}

/* Conteúdo */
.container {
    position: relative;
    z-index: 2;
    width: 500px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 70px;
}

input, textarea {
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    outline: none;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    width: 120px;
    align-self: center;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #888;
    color: white;
    cursor: pointer;
}
